.container {
    display: flex;
}

.card {
    width: 200px;
    height: 180px;;

    border: 1px solid black;
}

.btn {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
}

.pressed {
    background: green;
    color: white;
}